#head-txt {
  fill: rgb(54, 54, 54);
}
.info-graphic,
.info-text {
  background-color: var(--info-background-color);
  padding: 0;
}
.info-text h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
.info-text h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.info-text > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
.info-text p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#img-container-1, #img-container-2, #img-container-3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gemmeleg{
  /* visibility: hidden; */
  animation: fadeOut 2s forwards;
}

@keyframes hiding{
  to{
    transform: translateX();
  }
  from{
    transform: translateX(-200);
  }
}

.fadeOut{
  animation: fade 1s forwards;
}

.fadeIn{
  animation: fade 1s backwards;
}

.wiggle{
  animation: wiggle 1.5s;
}

@keyframes fade{
  0%{
    opacity: 1;
  }
  100%{
    transform: translateX(+50);
    opacity: 0;
  }
}

@keyframes wiggle{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(2deg);
  }
  40%{
    transform: rotate(-2deg);
  }
  60%{
    transform: rotate(0deg);
  }
  80%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(-2deg);
  }
}
